In [2]:
import pandas as pd

### Load Database

In [3]:
import os
from dotenv import load_dotenv

load_dotenv()

abs_path_exb = os.environ.get("abs_path_exb")

In [4]:
import sqlite3

# Connect to the database
# https://stackoverflow.com/questions/4636970/sqlite3-operationalerror-unable-to-open-database-file
conn = sqlite3.connect(abs_path_exb) 

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# Get the list of tables
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# cursor.execute("SELECT * FROM items")
# items = cursor.fetchall()

# cursor.execute("SELECT * FROM note")
# note = cursor.fetchall()

# cursor.execute("SELECT * FROM attrs")
# attrs = cursor.fetchall()

# Close the cursor and connection
cursor.close()
conn.close()

In [5]:
def get_table(table_name):
    conn = sqlite3.connect(abs_path_exb) 

    cursor = conn.cursor()

    cursor.execute(f"SELECT * FROM {table_name};")
    table = cursor.fetchall()

    cursor.close()
    conn.close()

    return table

### Get Tables

In [6]:
len(tables)

39

In [7]:
# set([tbl[0].split("_")[0] for tbl in tables])
print(*[tbl[0] for tbl in tables], sep=" ")

items attrs src_uid src_csn expunged_items tag_attr note_attr notesharednote_attr resource_attr notebook_attr sharednotebook_attr message_attr threadchange_attr thread_attr user_attr identity_attr contact_attr extUser_attr attachment_attr workspace_attr workspacemembership_attr workspaceinvitation_attr resources fts fts_content fts_segments fts_segdir fts_docsize fts_stat fts_aux tasfts tasfts_content tasfts_segments tasfts_segdir tasfts_aux tasfts_terms tastermscxt usage note_usage

## Content Tables

### tag_attr

In [8]:
tag_attr = get_table("tag_attr")
len(tag_attr)

505

In [9]:
tag_attr_df = pd.DataFrame(tag_attr)
tag_attr_df = tag_attr_df.rename({2:"tag"}, axis=1)

tag_dict = {tag:f"tag_{i}" for i, tag in enumerate(tag_attr_df.tag)}
tag_attr_df.tag = tag_attr_df.tag.map(tag_dict)

tag_attr_df.head(3)

,0,1,tag,3,4,5,6,7,8,9,10,11
0,386,435.0,tag_0,737495.889213,737544.855081,-1,None,2.0,1.0,1604.0,None,None
1,415,62668.0,tag_1,737495.889213,737544.857535,-1,None,NaN,NaN,482.0,None,None
2,418,NaN,tag_2,737495.889213,737499.659456,-1,None,2.0,19.0,797.0,None,None

In [28]:
import time
import datetime

datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S')

'2023-10-20 21:55:18'

### fts

In [17]:
# fts = get_table("fts")
# len(fts)
# # OperationalError: no such module: fts4

### note_attr

In [12]:
note_attr = get_table("note_attr")
len(note_attr)

18237

In [16]:
note_attr_df = pd.DataFrame(note_attr)
note_attr_df.shape

(18237, 46)

In [31]:
# 1 = title
# 8 = tag(s)
note_attr_df.head(3).drop([1,8],axis=1)

,0,2,3,4,5,6,7,9,10,11,...,36,37,38,39,40,41,42,43,44,45
0,385,None,None,None,NaN,onenote,384,736855.601273,NaN,NaN,...,NaN,None,None,None,None,None,NaN,0,None,5251527
1,414,None,None,None,NaN,onenote,384,736853.456065,NaN,NaN,...,NaN,None,None,None,None,None,NaN,0,None,350065
2,417,None,None,None,NaN,onenote,384,736853.455544,NaN,NaN,...,NaN,None,None,None,None,None,NaN,0,None,26518

## Other Tables

### items

In [ ]:
len(items)

64027

### attrs

In [ ]:
len(attrs)

585300

### src_uid

In [ ]:
src_uid = get_table("src_uid")
len(src_uid)

1

In [ ]:
src_uid

[(79156,)]

### src_csn

In [ ]:
src_csn = get_table("src_csn ")
len(src_csn)

1

In [ ]:
src_csn

[(27152,)]

### expunged_items

In [ ]:
expunged_items = get_table("expunged_items ")
len(expunged_items)

10

### notesharednote_attr

In [33]:
notesharednote_attr = get_table("notesharednote_attr")
len(notesharednote_attr)

0

## End